body {
    margin: 0;
}

/* Nav Bar Css */

.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #1f2937;
    height: 170px;
    font-size: 32px;
}

.header .nav-logo {
    height: 110px;
    width: auto;
}

.header ul {
    display: flex;
    gap: 25px;
    list-style-type: none;
}

.header a {
    color: whitesmoke;
    text-decoration: none;
    font-size: 18px;
}

/* End Nav Bar Css */

/* Content Container One Css */

.content-container-one {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #1f2937;
    color: whitesmoke;
    padding: 80px;
}

.content-container-one h1 {
    font-size: 42px;
}

.content-container-one p {
    width: 600px;
    text-align: center;
    font-size: 18px;
}

.content-container-one img {
    height: auto;
    width: 650px;
}

.main-text {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

.content-container-one .enjoyment {
    border-radius: 15px;
    background-color: #7828d3;
    margin-top: 10px;
    padding: 10px;
    color: whitesmoke;
    border: none;
}

.enjoy-link {
    text-decoration: none;
    color: whitesmoke;
}

/* End Content Cotainer One Css */

/* Content Container Two Css */

.content-container-two {
    display: flex;
    justify-content: center;
    gap: 100px;
    padding: 75px;
}

.flavor-title {
    font-size: 28px;
    padding: 20px;
}

.flavor-title-refresh {
    font-size: 28px;
    padding: 20px;
    margin-right: 10px;
}

.flavor-cards {
    max-width: 225px;
    display: flex;
    flex-flow: column;
    align-items: center;
}

.flavor-cards img {
    width: 100px;
    height: 230px;
}

.header-two {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 42px;
    padding: 20px;
}

.flavor-text {
    padding: 25px;
    text-align: center;
    font-size: 18px;
}

/* End Content Container Two Css */

/* Content Container Three Css */

.content-container-three {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 350px;
    background-color: #e5e7eb;
    padding: 100px;
}

.quote {
    font-size: 36px;
    width: 50%;
}

.quote p {
    display: flex;
    justify-content: center;
}

/* End Content Container Three Css */

/* Final Content Container Css */

.content-container-four {
    display: flex;
    justify-content: center;
    align-items: center;
    color: whitesmoke;
    padding: 100px;
}

.call-to-action {
    display: flex;
    justify-content: space-around;
    background-color: #7828d3;
    border-radius: 10px;
    width: 700px;
    padding: 30px;
}

.call-to-action h3 {
    width: 400px;
    font-size: 25px;
    text-align: center;
}

.call-to-action p {
    width: 400px;
    font-size: 16px;
    text-align: center;
}

.action-button {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    border-radius: 15px;
    border-color: whitesmoke;
    border-style: solid;
    background-color: #7828d3;
    height: 50px;
    width: 150px;
    font-size: 20px;
}

.action-button a {
    text-decoration: none;
    color: whitesmoke;
}

/* End Final Content Container Css */