body {
    margin: 0;
}

/* Nav Bar Css */

.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #1f2937;
    height: 170px;
    font-size: 32px;
}

.header .nav-logo {
    height: 110px;
    width: auto;
}

.header ul {
    display: flex;
    gap: 25px;
    list-style-type: none;
}

.header a {
    color: whitesmoke;
    text-decoration: none;
    font-size: 18px;
}

/* End Nav Bar Css */

/* Content Container One Css */

.content-container-one {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #1f2937;
    color: whitesmoke;
    padding: 80px;
}

.content-container-one h1 {
    font-size: 42px;
}

.content-container-one p {
    width: 600px;
    text-align: center;
    font-size: 18px;
}

.content-container-one img {
    height: auto;
    width: 650px;
}

.main-text {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

.content-container-one .enjoyment {
    border-radius: 15px;
    background-color: #b35bdb;
    margin-top: 10px;
    padding: 10px;
    color: whitesmoke;
    border: none;
}

/* End Content Cotainer One Css */

/* Content Container Two Css */

.content-container-two {
    display: flex;
    justify-content: center;
    gap: 100px;
}

.flavor-cards {
    max-width: 225px;
    display: flex;
    flex-flow: column;
    align-items: center;
}

.flavor-cards img {
    width: 100px;
    height: 230px;
}

.header-two {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 42px;
    padding: 50px;
}

.flavor-text {
    padding: 25px;
    text-align: center;
    font-size: 18px;
}